In [1]:
import os
import pandas as pd
import gc
import collections

In [2]:
#os.listdir(os.path.join(os.getcwd(),'All_in_one'))
def loader(fname):
    data = pd.read_csv(fname,
                      index_col = False,
                      engine = 'python')
    return data

In [3]:
data = loader((os.path.join(os.getcwd(),'All_in_one','output.csv')))

In [4]:
data.drop(data.index[[0]],inplace = True)
data.head()

,Operation,TimeStamp,ProcessName,ThreadID,IrpPtr,ByteOffset,IOSize,ElapsedTime
1,0,140772,p8 (3788),16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,0.5762881721964465
2,0,141167,p8 (3788),16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.14761662323219132
3,0,141441,p8 (3788),16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15127405146557135
4,0,141555,p8 (3788),16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.16138185312873074
5,0,141837,p8 (3788),16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15140704885587608

In [5]:
def change_process(dataframe):
    l = len(dataframe)
    for i in range(1,len(dataframe)):
        #drawProgressBar(i/l)
        name = dataframe.ix[i,'ProcessName']
        name = list(name)
        name = collections.deque(name)
        for _ in range(len(name)-1,-1,-1):
            x = name.pop()
            if x == '(':
                break;
        name = ''.join([_ for _ in name])
        
        dataframe.at[i,'ProcessName'] = name
    #print(dataframe.head(15))
    return dataframe
data = change_process(data)
data.head()

c:\users\gsk69\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

,Operation,TimeStamp,ProcessName,ThreadID,IrpPtr,ByteOffset,IOSize,ElapsedTime
1,0,140772,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,0.5762881721964465
2,0,141167,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.14761662323219132
3,0,141441,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15127405146557135
4,0,141555,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.16138185312873074
5,0,141837,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15140704885587608

In [7]:
data.reset_index(inplace = True)
data.head()

,index,Operation,TimeStamp,ProcessName,ThreadID,IrpPtr,ByteOffset,IOSize,ElapsedTime
0,1,0,140772,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,0.5762881721964465
1,2,0,141167,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.14761662323219132
2,3,0,141441,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15127405146557135
3,4,0,141555,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.16138185312873074
4,5,0,141837,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15140704885587608

In [8]:
data.drop('index',inplace = True,axis = 1)
to_del = []
for i in range(1,len(data)):
    if 'TimeStamp' in data.at[i,'TimeStamp']:
        to_del += i,

TypeError: drop() got an unexpected keyword argument 'inplce'

In [9]:
data.drop(to_del,inplace = True, axis = 0)
data.head()

,Operation,TimeStamp,ProcessName,ThreadID,IrpPtr,ByteOffset,IOSize,ElapsedTime
0,0,140772,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,0.5762881721964465
1,0,141167,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.14761662323219132
2,0,141441,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15127405146557135
3,0,141555,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.16138185312873074
4,0,141837,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15140704885587608

In [10]:
data.reset_index(inplace = True)
data.head()

,index,Operation,TimeStamp,ProcessName,ThreadID,IrpPtr,ByteOffset,IOSize,ElapsedTime
0,0,0,140772,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,0.5762881721964465
1,1,0,141167,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.14761662323219132
2,2,0,141441,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15127405146557135
3,3,0,141555,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.16138185312873074
4,4,0,141837,p8,16676,0.4560349475506797,-0.0980215729099087,-0.0980215729099087,-0.15140704885587608

In [13]:
i = ['IrpPtr','IOSize']
data.drop(i,inplace = True,axis = 1)
data.head()

  Operation TimeStamp ProcessName
0         0    140772         p8
1         0    141167         p8
2         0    141441         p8
3         0    141555         p8
4         0    141837         p8

In [16]:
data['TimeStamp'] = pd.to_numeric(data['TimeStamp'])
data = data.sort_values(by = ['TimeStamp'],ascending = True)
data.head(100)

       Operation  TimeStamp ProcessName
476533         0      69221         p2
476534         0      70582         p0
476535         0      72342         p0
476536         0      74941         p2
476537         1      82310         p2
476538         1      82433         p2
476539         1      82564         p2
476540         0      82572         p0
476541         1      82688         p2
476542         1      82788         p2
476543         1      84521         p2
476544         1      84619         p2
476545         1      84703         p2
476546         0      87632         p0
476547         0      88517         p0
476548         0      97283         p2
476549         0     101373         p0
476550         0     103259         p2
476551         0     108416         p0
476552         0     109978         p0
476553         0     110581         p0
476554         0     111178         p0
476555         0     115531         p0
476556         0     116502         p0
476557         0     117102         p0
476558         0     119399         p0
476559         0     119834         p2
476560         0     125743         p0
476561         0     131040         p0
445541         0     137492         p1
...          ...        ...         ...
445562         1     164033         p6
445563         1     164838         p6
476569         0     165051         p0
686038         0     165085         p0
445564         1     165438         p6
9              1     168695        p11
476570         0     171267         p0
686039         0     171596         p0
476571         0     174073         p2
476572         1     174928         p2
476573         1     175030         p2
476574         1     175116         p2
10             0     175534         p8
686040         0     177048         p0
11             0     178097        p12
12             0     178241        p15
476575         0     179261         p0
13             0     180243         p8
476576         1     181452         p2
476577         1     181595         p2
476578         1     181672         p2
14             0     181693         p8
476579         1     181769         p2
476580         1     181801         p2
476581         1     181819         p2
476582         1     181904         p2
686041         0     182217         p0
686042         0     184062         p0
15             0     186112        p12
476583         0     187269         p0

[100 rows x 3 columns]

In [17]:
data.reset_index(inplace = True)
data.head()

    index Operation  TimeStamp ProcessName
0  476533         0      69221         p2
1  476534         0      70582         p0
2  476535         0      72342         p0
3  476536         0      74941         p2
4  476537         1      82310         p2

In [18]:
data.drop('index',inplace = True, axis = 1)
data.head()

  Operation  TimeStamp ProcessName
0         0      69221         p2
1         0      70582         p0
2         0      72342         p0
3         0      74941         p2
4         1      82310         p2

In [19]:
for i in range(1,len(data)):
    if data.at[i-1,'TimeStamp'] > data.at[i,'TimeStamp']:
        print(data.at[i-1,'TimeStamp'],data.at[i,'TimeStamp'])